@layout("/common/_container.html"){
<link rel="stylesheet" href="${ctxPath}/static/css/plugins/leaflet/Control.MiniMap.min.css">
<link rel="stylesheet" href="${ctxPath}/static/css/map.css">
<link rel="stylesheet" href="${ctxPath}/static/css/plugins/leaflet/leaflet.marker.highlight.css">
<link rel="stylesheet" href="${ctxPath}/static/css/plugins/leaflet/leaflet-ruler.css">
<div class="container-fluid" style="padding: 0 !important;height: calc(100% + 30px);margin: -15px;" id="container"
     v-cloak>
    <div id="map" style="height: 100%;"></div>
    <div class="tool-bar mapWidget">
        <ul>
            <li>
            <span v-on:click="toolClick('basemap')" style="display: block">
                <i class="iconfont icon-ditu"></i>
                底图选择
            </span>
                <div class="tool-panel basemap" v-show="toolShow=='basemap'">
                    <div class="bar-arrow measure-bar-arrow"></div>
                    <div class="panel-content map-list">
                        <div class="blockdiv" style="height: 138px">
                            <div id="zhitudiv">
                                <span class="basemap-group-title">平台地图</span>
                                <a class="mapa"
                                   :class="[item.layerId, {'mapactive': baseMapGroup.mapNow == item.layerId}]"
                                   title="item.name" v-for="item in baseMapGroup.list"
                                   v-on:click="basemapSelect(item)" href="javascript:void(0);">
                                    <span class="maptitle" :class="{'active':baseMapGroup.mapNow == item.layerId}">{{item.name}}</span>
                                </a>
                            </div>
                        </div>
                        <div class="blockdiv">
                            <div id="thirddiv">
                                <span class="basemap-group-title">第三方地图</span>
                                <a class="mapa tianditu" dataid="17" title="天地图">
                                    <span class="maptitle">天地图</span>
                                </a>
                                <a class="mapa tengxun" dataid="8" title="腾讯地图">
                                    <span class="maptitle">腾讯地图</span>
                                </a>
                                <a class="mapa tengxunimg" dataid="12" title="腾讯影像图">
                                    <span class="maptitle">腾讯影像图</span>
                                </a>
                                <a class="mapa gaode" dataid="7" title="高德地图">
                                    <span class="maptitle">高德地图</span>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </li>
            <li class="measure-bar">
            <span v-on:click="toolClick('measure')" style="display: block"> <i
                    class="iconfont icon-liangce"></i>量测工具</span>
                <div class="tool-panel measure" v-show="toolShow=='measure'">
                    <div class="bar-arrow measure-bar-arrow"></div>
                    <div class="panel-content measure-bar-content">
                        <a class="measure-bar-marker" name="marker" title="测量点"></a>
                        <a class="measure-bar-polyline" :class="{'acitve':rulerTool.polyline.isActive}" name="polyline"
                           title="测量线段" v-on:click="polyline"></a>
                        <a class="measure-bar-polygon" :class="{'acitve':rulerTool.polygon.isActive}" name="polygon"
                           title="测量多边形" v-on:click="polygon"></a>
                    </div>
                </div>
            </li>

            <li class="draw-bar">
                <span v-on:click="toolClick('draw')" style="display: block"><i
                        class="iconfont icon-biaohui"></i>地图标绘</span>
                <div class="tool-panel draw" v-show="toolShow=='draw'">
                    <div class="bar-arrow measure-bar-arrow"></div>
                    <div class="panel-content draw-bar-content">
                        <a class="draw-bar-marker" name="marker" href="#" title="标绘点"></a>
                        <a class="draw-bar-polyline" name="polyline" href="#" title="标绘线段"></a>
                        <a class="draw-bar-polygon" name="polygon" href="#" title="标绘多边形"></a>
                        <a class="draw-bar-rectangle" name="rectangle" href="#" title="标绘矩形"></a>
                        <a class="draw-bar-circle" name="circle" href="#" title="标绘圆"></a>
                        <a class="draw-bar-txt" name="textMarker" href="#" title="标绘文本"></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="search mapWidget">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="请输入关键字">
            <span class="input-group-btn">
				<button type="button" class="btn btn-primary" v-on:click="submitSearch">搜索</button>
			</span>
        </div>
        <div class="search-result" v-show="resultShow">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>结果展示</h5>
                    <div class="ibox-tools">
                        <a v-on:click="closeResult">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content icons-box" style="padding: 5px;">
                    <ul class="search-result-group">
                        <li class="active">全部（20）</li>
                        <li>渠道（5）</li>
                        <li>水闸（5）</li>
                        <li>桥（5）</li>
                        <li>其他（5）</li>
                    </ul>
                    <div class="search-result-list"></div>

                </div>
            </div>

        </div>
    </div>
    <div class="layerGroup mapWidget ">

        <ul class="layerGroup-content ">
            <li class="layerItem" v-on:click="layerGroupTab('base',$event)">灌区渠系</li>
            <li class="layerItem" v-on:click="layerGroupTab('build',$event)">灌区工程</li>
        </ul>
        <div class="layerGroup-panel fast animated" :class="{'slideInLeft':isExtend,'slideOutLeft':!isExtend}">
            <div class="layerGroup-tab"></div>
            <div class="layerGroup-list">
                <div class="ibox float-e-margins">
                    <div class="ibox-content icons-box" style="padding: 5px;">
                        <div class="bs-glyphicons">
                            <ul class="bs-glyphicons-list">
                                <li v-for="(item,index) in layerList"
                                    :class="{'active':item.isShow}"
                                    v-on:click="layerClickHandler(item)">
                                    <span class="filter iconfont icon-shaixuan" v-show="item.isShow"
                                          v-on:click.stop="layerFilter(index)" title="图层筛选"></span>
                                    <i class="iconfont" :class="item.icon"></i>
                                    <span class="glyphicon-class">{{item.name}}</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layer-filter-panel" v-show="filterShow">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 v-if="layerList.length!=0">{{layerList[filterLayerId].name}}</h5>
                            <div class="ibox-tools">
                                <a v-on:click="filterClose">
                                    返回
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <#NameCon id="condition" name="快速查询" placeholder="渠道编码/渠道名称" />
                                </div>
                                <div class="col-sm-12">
                                    <#SelectCon id="canalType" name="渠道类型" >
                                        <option value="0">全部</option>
                                        <option value="1">主干渠</option>
                                        <option value="2">干渠</option>
                                        <option value="3">支渠</option>
                                        <option value="4">斗渠</option>
                                        <option value="5">农渠</option>
                                        <option value="9">其他</option>
                                    </#SelectCon>
                                </div>
                                <div class="col-sm-12">
                                    <#button name="搜索" float="right" icon="fa-search" clickFun="CanalBase.search()"/>
                                    <#button name="重置" btnCss="default" float="right" icon="fa-undo" clickFun="CanalBase.search()"/>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>水源编号</th>
                                    <th>水源名称</th>
                                    <th>水源类型</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in filterLayerTableData" v-on:dblclick="zoomToFeature(item)">
                                    <td>{{item.sourceCode}}</td>
                                    <td>{{item.sourceName}}</td>
                                    <td>{{item.sourceTypeBName}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- 自定义js -->
    <script src="${ctxPath}/static/js/common/mapConfig.js"></script>
    <script src="${ctxPath}/static/js/content.js?v=1.0.0"></script>
    <!-- jQuery UI -->
    <script src="${ctxPath}/static/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!--leaflet组件-->
    <script src="${ctxPath}/static/js/plugins/leaflet/Control.MiniMap.min.js"></script>
    <script src="${ctxPath}/static/js/plugins/leaflet/leaflet.marker.highlight.js"></script>
    <script src="${ctxPath}/static/js/plugins/leaflet/leaflet-ruler.js"></script>
    <script>

        new Vue({
            el: '#container',
            data: {
                isExtend: false,
                resultShow: false,
                toolShow: null,
                filterShow: false,
                baseMapGroup: {mapNow: 'color', list: mapConfig.Layers.baseMapLayers},
                layerList: [],
                filterLayerId: 0,
                filterLayerTableData: [],
                map: null,
                baseMap: null,
                activeMarker: null,
                rulerTool: {
                    polyline: {
                        ruler: null,
                        isActive: false
                    },
                    polygon: {
                        ruler: null,
                        isActive: false
                    }
                }
            },
            methods: {
                //左侧图层组切换
                layerGroupTab: function (type, e) {
                    var _this = this;
                    if ($(e.currentTarget).hasClass('active')) {
                        $(e.currentTarget).removeClass('active');
                        _this.isExtend = false;
                    } else {
                        $(".layerGroup-content li").removeClass('active');
                        $(e.currentTarget).addClass('active');
                        _this.isExtend = true;
                    }
                    this.layerList = mapConfig.Layers[type];

                },
                //图层点击
                layerClickHandler: function (item) {
                    //判断图层是否未定义
                    if (item.layer == null) {
                        item.layer = L.esri.featureLayer({
                            url: item.url
                        }).bindPopup(function (layer) {
                            var html = item.template;
                            return "text"
//                            return L.Util.template(html, featureCollection.features[0].properties);
                        }).bindTooltip("text", { sticky: true, direction: 'top',className: 'result-tooltip' });
                    }
                    //判断图层是否添加到map
                    if (item.isShow) {
                        this.map.removeLayer(item.layer);
                    } else {
                        item.layer.addTo(this.map);
                    }

                    item.isShow = !item.isShow;

                },
                //搜索提交
                submitSearch: function () {
                    this.resultShow = true;
                },
                //关闭搜索结果
                closeResult: function () {
                    this.resultShow = false;
                },
                //工具条模块点击
                toolClick: function (toolType) {
                    if (this.toolShow == toolType) {
                        this.toolShow = null
                    } else {
                        this.toolShow = toolType
                    }
                },
                //底图选择
                basemapSelect: function (item) {
                    this.baseMapGroup.mapNow = item.layerId;
                    this.map.removeLayer(this.baseMap);
                    this.baseMap = L.esri.tiledMapLayer({
                        url: item.url
                    }).addTo(this.map);
                },
                //图层过滤
                layerFilter: function (index) {
                    var _this = this;
                    this.filterShow = true;
                    this.filterLayerId = index;
                    var ajax = new $axGet(Feng.ctxPath + "/sourcebase/list", function (data) {
                        _this.filterLayerTableData = data;
                    }, function (data) {

                    });
                    ajax.start();

                },
                zoomToFeature: function (item) {
                    var _this = this;

                    this.layerList[this.filterLayerId].layer.query().layer(0).where("source_code='" + item.sourceCode + "'").run(function (error, featureCollection, response) {
                        //缩放到要素
                        _this.map.fitBounds(L.geoJSON(featureCollection).getBounds());
                        //创建marker
//                        var point = featureCollection.features[0].
                        if (_this.activeMarker != null) {
                            _this.activeMarker.removeFrom(_this.map);
                            _this.activeMarker = null;
                        }
                        _this.activeMarker = L.marker(L.geoJSON(featureCollection).getBounds().getCenter(), {
                            highlight: 'permanent'
                        }).addTo(_this.map).on('click', function () {
                            _this.activeMarker.removeFrom(_this.map);
                            _this.activeMarker = null;
                        });
                    });
                },
                filterClose: function () {
                    this.filterShow = false;
                },
                marker: function () {

                },
                polyline: function () {

                    if (this.rulerTool.polygon.isActive) {
                        this.rulerTool.polygon.isActive = false;
                        this.rulerTool.polygon.ruler.closeMeasure();
                    }

                    if (this.rulerTool.polyline.isActive) {
                        this.rulerTool.polyline.isActive = false;
                        this.rulerTool.polyline.ruler.closeMeasure();
                    } else {
                        this.rulerTool.polyline.isActive = true;
                        this.rulerTool.polyline.ruler = L.control.ruler().addTo(this.map);
                        this.rulerTool.polyline.ruler._toggleMeasure();
                    }
                },
                polygon: function () {
                    if (this.rulerTool.polyline.isActive) {
                        this.rulerTool.polyline.isActive = false;
                        this.rulerTool.polyline.ruler.closeMeasure();
                    }

                    if (this.rulerTool.polygon.isActive) {
                        this.rulerTool.polygon.isActive = false;
                        this.rulerTool.polygon.ruler.closeMeasure();
                    } else {
                        this.rulerTool.polygon.isActive = true;
                        this.rulerTool.polygon.ruler = L.control.ruler({
                            type: 'area'
                        }).addTo(this.map);
                        this.rulerTool.polygon.ruler._toggleMeasure();
                    }
                },
            },
            mounted: function () {
                var _this = this;
                this.map = L.map("map", {
                    zoomControl: false,
                    attributionControl: false
                }).setView([34.168, 112.141], 10);

                var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
                var osm2 = new L.TileLayer(osmUrl, {minZoom: 0, maxZoom: 13, attribution: null});

                this.baseMap = L.esri.tiledMapLayer({
                    url: "http://map.geoq.cn/arcgis/rest/services/ChinaOnlineCommunity/MapServer"
                }).addTo(this.map);

                //地图控件位置
                L.control.zoom({
                    position: "bottomright"
                }).addTo(this.map);

                var miniMap = new L.Control.MiniMap(osm2, {
                    toggleDisplay: true,
                    position: 'bottomleft'
                }).addTo(this.map);

                this.map.on('click', function () {
                    if (_this.toolShow == 'basemap') _this.toolShow = null;
                })
            }
        })
    </script>
</div>
<template id="myComponent">
    <div>This is a component!</div>
</template>
@}